<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>User Information</h3>
         CWS_ID<br>
         <input type = "text" name = "cws" /></br>
         
         Phone No<br>
         <input type = "text" name = "phone_no" ></textarea><br>
         
         Phone Model<br>
         <input type = "text" name = "phone_model" /><br>
         
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>